@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: black;
    color:white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps; /*faz com que seja tudo maiusculo, mas as primeiras maiores*/
    
}

header > h1 {
    padding-top: 20px;
    font-size: 3em;
}

header > p {
    padding: 10px;
    font-size: 0.8em;

}

header a, footer a {
    text-decoration: none;
    color: whitesmoke;
    font-style: italic;

}


html, body {
    background-color: grey;
    min-height: 100vh;

}

body{
    font-size: 1.2em;
}

section {
    padding: 10vh 25px;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(71, 71, 71);
    color: white;
}

section.imagem > p {
    width: 400px;
    background-color: black;
}

footer {
    background-color: rgba(0, 0, 0, 0.925);
    text-align: center;
    color: white;
    padding: 5px;
}
