@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

h1 {
    color: white;
    text-shadow: 2px 2px 5px black;
    background-color: rgb(102, 102, 102);
    text-align: left center;
    padding-left: 25px;
}

nav {
    margin: 0px 0px 20px 0px;
    background-color: rgb(32, 32, 32);
    padding: 25px;

}

nav a {
    color: white;
    background-color: rgb(68, 68, 68);
    border-radius: 25px;
    padding: 10px;
    text-decoration: 0;
}

nav a:hover {
    background-color: grey;
}


h2 {
    font-weight: lighter;
    font-style: italic;
    margin-bottom: 20px;
    font-size: 1.5em;

}